/* CSS Document */
body {
	background:#fff;
	color:#333;
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
}
#header {
	background:#328EA7;
	color:#fff;
	text-align:right;
	padding:5px 15px;
}
#header #pic_logo {
	float:left;
}
#header h1 {
	font-size:24pt;
}
#header h2 {
	font-size:14pt;
}
#header h3 {
	font-size:10pt;
}
#editor_info {
	background:#900;
	color:#fff;
	font-size:11pt;
	font-weight:bold;
	border:solid 1px #000;
	border-width: 1px 0;
	text-align:right;
	padding:5px 15px;
}
#editor_info a, #editor_info a:link, #editor_info a:visited {
	color:#fff;
}
#editor_info a:hover {
	color:#328EA7;
}
.author_credit {
	color:#328EA7;
}
.chairs_credit {
	font-weight:bold;
	font-size:9pt;
	text-align:right;
	color:#328EA7;
}
.topic {
	font-weight:bold;
	color:#328EA7;
	border-bottom: solid 1px #328EA7;
	margin-left:20px;
}
.title {
	width:100%;
}
.proceedings_table {
	margin:10px 40px;
	width:97%;
}
.proceedings_table td {
	padding:2px 10px;
	font-size:10pt;
}
#leftnav {
	background:#D1E8EE;
	color:#fff;
	padding:10px;
	font-size:10pt;
}
#leftnav p {
	padding:10px 0;
	margin:0px;
}
#leftnav a, #leftnav a:link, #leftnav a:visited {
	color:#328EA7;
	font-weight:bold;
	text-decoration:none;
	background:inherit;
}
#leftnav a:hover {
	color:#900;
	background:inherit;
	text-decoration:underline;
}
#content {
	padding:10px 25px;
	background:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
}
#content h1, #content h2, #content h3 {
	color:#900;
}
#content h3 { border-bottom:solid 1px #900;}
#content a, #content  a:link {
	color:#900;
}
#content a:visited {
	color:#600;
}
#content a:hover {
	color:#900;
	background:#D1E8EE;
}
#content form {
	margin:0;
	padding:10px 0 0 0;
}

#maintable {
	width:95%;
}



/* SLAC Footer ***********************/
#footer {
	position:relative;
	bottom:0;
	width:100%;
	background:#900;
	color:#fff;
	border:double 3px #000;
	border-width:3px 0;
	margin:0 ;
	height:40px;
}
#footer .slaclogo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	float:left;
	padding:0 2px;
	margin:0;
	text-decoration:underline;
}
#footer .slactext {
	font-size:8pt;
	float:left;
	padding:5px;
	margin:0;
}
#footer a, #footer a:link, #footer a:visited {
	color:#fff;
	text-decoration:underline;
}
#footer a:hover {
	color:#000;
	text-decoration:underline;
}
#footer .slaclogo a, #footer .slaclogo a:link, #footer .slaclogo a:hover, #footer .slaclogo a:visited{
	text-decoration:none;
	font-weight:normal;
}

